# environment
venv/
.env

# IDE
.vscode/

# Python
__pycache__/
*.py[cod]

# pytest
*.pytest_cache/

# coverage
.coverage*

# dummy code for testing
smoke/
*_improved/
old_src/

# logs
*.log

# old experiments
experiments/
evals/

# json
*.json

# ruff
*.ruff_cache/